.container {
  width: 80%;
}

header {
  background: #f5f9fe;
  box-shadow: 0 2px 4px #e2ebfc;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container a {
  text-decoration: none;
  margin-right: 15px;
  color: #1d365a;
  transition: 0.5s;
  position: relative;
}
header .container a:hover {
  color: #2a73dd;
}
header .container a::before {
  content: "";
  bottom: -3px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background: #2a73dd;
  transition: 0.5s;
  transform: translateX(-50%);
}
header .container a:hover::before {
  width: 100%;
}
header .logo {
  color: #2a73dd;
}

.banner {
  background-image: url(../image/product-header-bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.banner .info h2 {
  color: #2a73dd;
}
.banner .info h3 {
  color: #1d365a;
}
.banner .info .btn-info {
  border: 2px solid #2a73dd;
  color: #2a73dd;
  padding: 15px 45px;
  border-radius: 8px;
  font-size: 14px;
}
.banner .info .btn-shop {
  background: linear-gradient(120deg, #60a4f4, #2a73dd);
  color: #fff;
  padding: 17px 51px;
  border-radius: 8px;
  font-size: 14px;
  margin-left: 10px;
}

.product {
  background: #f5f9fe;
  padding: 80px 0;
}
.product h2.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #1d365a;
  margin-bottom: 50px;
}
.product .list .item {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
  padding: 30px;
}
.product .list .item .wrapper img {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
}
.product .list .item .wrapper .desc {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.product .list .item .wrapper .desc .content h3 {
  font-weight: 500;
  font-size: 20px;
}
.product .list .item .wrapper .price {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product .list .item .wrapper .price p {
  font-size: 20px;
  font-weight: 500;
}
.product .list .item .wrapper button {
  box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 12px;
  color: #2a73dd;
}

@media screen and (min-width: 768px) {
  .product h2.title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .product h2.title {
    font-size: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .product h2.title {
    font-size: 50px;
  }
}/*# sourceMappingURL=index.css.map */