@import "./variables";
@import "./mixin";
@import "./base";

header {
    background: $color-white-1;
    box-shadow: 0 2px 4px $color-white-2;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: none;
            margin-right: 15px;
            color: $color-blue-2;
            transition: 0.5s;
            position: relative;
            &:hover {
                color: $color-blue-1;
            }
            &::before {
                content: "";
                bottom: -3px;
                left: 50%;
                position: absolute;
                width: 0%;
                height: 2px;
                background: $color-blue-1;
                transition: 0.5s;
                transform: translateX(-50%);
            }
            &:hover::before {
                width: 100%;
            }
        }
    }
    .logo {
        color: $color-blue-1;
    }
}
.banner {
    background-image: url(../image/product-header-bg.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    .info {
        h2 {
            color: $color-blue-1;
        }
        h3 {
            color: $color-blue-2;
        }

        .btn-info {
            border: 2px solid $color-blue-1;
            color: $color-blue-1;
            @include btn-theme(15px);
        }
        .btn-shop {
            background: linear-gradient(120deg, $color-blue-3, $color-blue-1);
            color: $color-white-3;
            @include btn-theme(17px);
            margin-left: 10px;
        }
    }
}

.product {
    background: $color-white-1;
    padding: 80px 0;
    h2.title {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: $color-blue-2;
        margin-bottom: 50px;
    }
    .list {
        .item {
            @include shadow-theme(6);
            border-radius: 8px;
            padding: 30px;
            .wrapper {
                img {
                    @include shadow-theme(6);
                    border-radius: 8px;
                }
                .desc {
                    padding-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    .content {
                        h3 {
                            font-weight: 500;
                            font-size: 20px;
                        }
                    }
                }

                .price {
                    text-align: right;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p {
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
                button {
                    @include shadow-theme(2);
                    border-radius: 4px;
                    padding: 5px 15px;
                    font-size: 12px;
                    color: $color-blue-1;
                }
            }
        }
    }
}

@include reponsive-theme(MD) {
    .product {
        h2.title {
            font-size: 30px;
        }
    }
}
@include reponsive-theme(LG) {
    .product {
        h2.title {
            font-size: 40px;
        }
    }
}
@include reponsive-theme(XL) {
    .product {
        h2.title {
            font-size: 50px;
        }
    }
}
